section.background {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: -1;
	background-image: url(../../../public/shop1.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}
section.about {
	padding: 50px 0 150px;
	display: flex;
	flex-direction: column;
	gap: 150px;
	section.top {
		width: 100%;
		display: flex;
		position: relative;
		article.left {
			width: 40%;
			height: 500px;
			h3 {
				font-size: 2rem;
				position: absolute;
				top: 30%;
				left: 0;
				color: white;
				font-family: var(--body);
				font-weight: 300;
				letter-spacing: -1px;
			}
			h2 {
				width: 100%;
				font-size: 8rem;
				font-family: var(--body);
				letter-spacing: -8px;
				font-weight: 500;
				position: absolute;
				top: 30%;
				left: -10px;
				color: white;
			}
		}
		article.right {
			width: 60%;
			height: 500px;
			background-image: url(../../../public/shop1.webp);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	section.bottom {
		width: 100%;
		display: flex;
		article.pic {
			width: 45%;
			height: 500px;
			background-image: url(../../../public/about1.jpeg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		article.txt {
			padding: 50px;
			width: 55%;
			height: 500px;
			background: rgba(255, 255, 255, 0.5);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			gap: 30px;
			h3 {
				font-size: 2.4rem;
				font-weight: 400;
				font-family: var(--point);
				line-height: 1.2;
				letter-spacing: -1px;
			}
			p {
				line-height: 1.6;
				font-size: 0.9rem;
			}
			div {
				border: 1px solid #333;
				font-size: 0.8rem;
				background: rgba(255, 255, 255, 0.4);
				cursor: pointer;
				transition: 0.4s;
				a {
					width: 100%;
					height: 100%;
					display: inline-block;
					padding: 15px 30px;
				}
				&:hover {
					background: #333;
					color: white;
				}
			}
		}
	}
	section.middle {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3 {
			width: 100%;
			text-align: center;
			font-size: 2.1rem;
			font-family: var(--point);
			padding-bottom: 50px;
			font-weight: 500;
		}
		ul {
			display: flex;
			background-color: rgba(255, 255, 255, 0.4);
			li {
				list-style: none;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 30px 30px;
				border-right: 1px solid rgba(255, 255, 255, 0.6);
				&:nth-child(3) {
					border-right: none;
				}
				h4 {
					width: 100%;
					font-size: 1rem;
					padding-bottom: 20px;
					text-align: center;
					font-family: var(--body);
					font-weight: 400;
				}
				p {
					width: 100%;
					font-size: 0.78rem;
					word-break: break-all;
					text-align: center;
					font-family: var(--body);
					font-weight: 300;
				}
			}
		}
	}
}

@media (max-width: $tablet) {
	section.about {
		gap: 120px;
		section.top {
			article.left {
				height: 380px;
				h3 {
					font-size: 1.5rem;
					top: 30%;
				}
				h2 {
					font-size: 12vw;
				}
			}
			article.right {
				height: 380px;
			}
		}
		section.bottom {
			article.pic {
				height: auto;
			}
			article.txt {
				padding: 4vw;
				height: auto;
				gap: 20px;
				h3 {
					font-size: 3vw;
				}
				p {
					line-height: 1.4;
					font-size: 1.6vw;
				}
				div {
					font-size: 1.8vw;
					a {
						padding: 2vw 3.7vw;
					}
				}
			}
		}
		section.middle {
			ul {
				li {
					padding: 25px 3vw;
					h4 {
						font-size: 2.2vw;
						padding-bottom: 20px;
					}
					p {
						font-size: 1.6vw;
					}
				}
			}
		}
	}
}
@media (max-width: $mobile) {
	section.about {
		padding: 50px 0 80px;
		gap: 20vw;
		section.top {
			article.left {
				width: 30%;
				height: 80vw;
				h3 {
					font-size: 4.4vw;
					top: 30%;
				}
				h2 {
					font-size: 14vw;
					letter-spacing: -1.2vw;
					top: 33%;
				}
			}
			article.right {
				width: 70%;
				height: 80vw;
			}
		}
		section.bottom {
			article.pic {
				height: auto;
			}
			article.txt {
				padding: 8vw 4vw;
				height: auto;
				gap: 3vw;
				h3 {
					font-size: 4vw;
				}
				p {
					line-height: 1.4;
					font-size: 2.2vw;
				}
				div {
					font-size: 2.2vw;
					a {
						padding: 2vw 3.7vw;
					}
				}
			}
		}
		section.middle {
			h3 {
				font-size: 5vw;
				padding-bottom: 8vw;
			}
			ul {
				flex-direction: column;
				li {
					padding: 6vw 7vw;
					border-right: none;
					border-bottom: 1px solid rgba(255, 255, 255, 0.6);
					&:nth-child(3) {
						border-bottom: none;
					}
					h4 {
						font-size: 3vw;
						padding-bottom: 3vw;
					}
					p {
						font-size: 2.2vw;
					}
				}
			}
		}
	}
}
