.youtubeCard {
	width: 30%;
	margin-bottom: 80px;
	border-top: 5px solid #222;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	// box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	h2 {
		font-size: 1.2rem;
		padding: 10px 0 20px;
		border-bottom: 1px solid #222;

		word-break: break-all;
	}

	.pic {
		width: 100%;
		height: 10vmax;
		background: var(--text);
		position: relative;
		margin: 10px 0 5px;

		> a {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.txt {
		span {
			font-size: 0.7rem;
			font-weight: bold;
			display: inline-block;
			margin-bottom: 8px;
		}
		p {
			font-size: 0.7rem;
			word-break: break-all;
		}
	}

	.btnDetail {
		font-size: 0.8rem;
		border: 1px solid #222;
		display: inline-block;
		padding: 9px 0;
		margin: 20px 0 10px;
		border-radius: 30px;
		font-weight: bold;
		cursor: pointer;
		width: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
		transition: 0.2s;
		p {
			margin-top: 2px;
		}

		span {
			position: relative;
			display: inline-block;
			line-height: 0;
			.icon {
				position: absolute;
				transition: 0.2s;
				opacity: 1;
			}
			.icon2 {
				transition: 0.2s;
				opacity: 0;
			}
		}

		&:hover {
			background: #222;
			color: white;
			font-weight: normal;
			span {
				.icon {
					opacity: 0;
				}
				.icon2 {
					opacity: 1;
				}
			}
		}
	}
}

@media (max-width: $tablet) {
	.youtubeCard {
		width: 45%;
		.pic {
			height: 20vmin;
		}
	}
}

@media (max-width: $mobile) {
	.youtubeCard {
		width: 100%;

		.pic {
			height: 35vmin;
		}
	}
}
