.btn {
	background: transparent;
	border: 1px solid var(--text);
	display: inline-block;
	height: 30px;
	border-radius: 5px;
	padding: 0 20px;
	font-size: 0.7rem;
	cursor: pointer;
	transition: background 0.5s, border-color 0.5s;
	margin-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&.btnLogout {
		background: var(--text);
		color: var(--bg);
	}
}
// 기존 공통 클래스에 Hover문 연결 (우선순위 이슈로 scss 적용 안 되던 이슈 해결)
.btn:hover {
	background: var(--point);
	color: var(--bg);
	border-color: transparent;
}
