:root {
	--bg: #efefef;
	--text: #222;
	--point: hotpink;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	color: var(--text);

	a {
		color: inherit;
		text-decoration: none;
	}
}

.container {
	width: 80vw;
	margin: 0 auto;
	// min-height: 100vh;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;

	.wrap {
		width: 100%;

		padding-top: 100px;
	}
}
