.main {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../../public/mountain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: 120px;
	padding-bottom: 30px;

	.center {
		width: 80vw;
		margin: 0 auto;
		// position: relative;
		// top: 50%;
		// transform: translateY(-50%);
		h1 {
			font-size: 5.5rem;
			color: white;
			font-weight: 450;
			letter-spacing: -5px;
			line-height: 0.8;
		}
	}
	.bottom {
		width: 80vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: end;
		color: white;
		.left {
			width: 50%;
		}
		.right {
			width: 30%;
			display: flex;
			justify-content: end;
			align-items: center;
			gap: 15px;
			.text {
			}
			.icon {
				font-size: 3.5rem;
				transition: 0.4s;
				cursor: pointer;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		.left,
		.right {
			h3 {
				font-weight: 300;
				margin-bottom: 10px;
			}
			p {
				font-weight: 100;
				font-size: 0.8rem;
			}
		}
	}
}
