.navbar {
	display: flex;
	gap: 40px;
	margin-left: auto;
	p {
		color: rgba(0, 0, 0, 1);
	}
	a {
		color: rgba(0, 0, 0, 1);
		transition: 0.4s;
		&:hover {
			color: rgba(255, 255, 255, 0.9);
		}
		&.on {
			color: var(--point);
			font-weight: bold;
		}
	}
}

@media (max-width: $tablet) {
	.navbar {
		display: none;
	}
}
