.backBtn {
	margin: 10px 0;
	display: inline-block;
	padding: 3px 7px;
	font-size: 1.3rem;
	cursor: pointer;
	color: rgba(11, 11, 11, 0.5);
	transition: 0.4s;
	&:hover {
		color: rgba(11, 11, 11, 1);
	}
}
.postDetail {
	width: 100%;
	margin-bottom: 30px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.4);
	> article {
		border: 1px solid rgba(0, 0, 0, 0.5);
		padding: 20px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.pic {
			width: 50%;
			height: 60vh;
			position: relative;

			img {
				padding-right: 20px;
				border-right: 1px solid rgba(0, 0, 0, 0.5);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.txt {
			width: 50%;
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			h2 {
				font-size: 1.8rem;
				font-weight: 500;
				padding-top: 20px;
				font-family: var(--point);
			}
			.date {
				display: flex;
				gap: 30px;
				font-family: var(--body);
				font-weight: 300;
				font-size: 0.7rem;
			}
			p.desc {
				font-size: 1rem;
				line-height: 1.5;
				font-family: var(--body);
				font-weight: 400;
			}
			> article {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				justify-content: start;
				gap: 10px;
				p {
					font-size: 0.8rem;
					color: #555;
					font-family: var(--body);
					font-weight: 300;
				}
				div {
					width: 50px;
					height: 50px;
					border: 1px solid rgba(0, 0, 0, 0.3);
					background-color: rgba(255, 255, 255, 0.3);
					padding: 4px;
					img {
						width: 100%;
						height: 100%;
						vertical-align: middle;
					}
				}
			}
			> nav {
				padding-right: 10px;
				display: flex;
				justify-content: end;
				align-items: end;

				gap: 20px;
				height: 100%;
				a {
					font-size: 1.5rem;
					line-height: 0;
				}
				form {
					nav {
						button {
							background: none;
							border: none;
							font-size: 1.5rem;
							cursor: pointer;
							line-height: 0;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $mobile) {
	.backBtn {
		margin: 5px 0;
	}
	.postDetail {
		> article {
			flex-direction: column;

			.pic {
				width: 100%;
				height: 60vw;

				img {
					padding: 0;
					border: none;
					padding-bottom: 20px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.5);
				}
			}
			.txt {
				width: 100%;
				padding-left: 0;
				gap: 10px;
				.date {
					flex-direction: column;
					gap: 6px;
				}
				p.desc {
					font-size: 0.9rem;
				}
				> article {
					p {
						font-size: 0.7rem;
					}
					div {
						width: 40px;
						height: 40px;
						padding: 2px;
					}
				}
				> nav {
					padding-right: 0;
					gap: 15px;
					a {
						font-size: 1.3rem;
					}
					form {
						nav {
							button {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
	}
}
